.header {
    position: fixed;
    height: 90px; /* Original height */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%; /* Ensure navbar height adjusts based on content */
    padding: 0 1rem;
    
}

.header .nav-menu a {
    color: #ffffff;
}

.header .navbar img {
    width: 140px;
    height: 90px;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
    display: none;
}

@media screen and (max-width: 940px) {
    .header {
        height: 120px; /* Increase the height for mobile view */
        background-color: rgba(0,0,0,.9);
    }

    .header .navbar {
        height: 100%; /* Adjust height to accommodate new navbar height */
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh; /* Ensure full height for the mobile menu */
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
        font-size: 1.2rem; /* Increase font size for better readability on mobile */
    }

    .header .navbar img {
        width: 100px; /* Adjust logo size for mobile view */
    }
}
